header {
  background: 555;
  font-family: Georgia;
  font-weight: strong;
  font-size: 100px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
}

p {
  font-family: Tahoma, sans-serif;
  font-size: 30px;
}

footer {
  font-size: 10px;
  color: yellow;
}
