
body {
  margin: 0px 20px;
  font-family: "CenturyGothic", sans-serif;
}

header {
  border: thin solid black;
  background: Linen;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  background: WhiteSmoke;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  padding: 0px;
}

nav ul li {
  border: thin solid black;
  background: AliceBlue;
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  padding: 20px;
}

h1 {
  font-family: Garamond, serif;
  font-size: 60px;
}

h2 {
  font-family: Optima, serif;
  font-size: 20px;
}

h3 {
  font-size: 14px;
  margin-bottom: 1px;
}

h4 {
  font-size: 10px;
}

p {
  font-size: 12px;
}

a {
  color: black
}

ul li {
  font-family: "CenturyGothic", sans-serif;
  font-size: 12px;
}

.col {
  float: left;
  background: WhiteSmoke;
  border: thin solid black;
  text-align: center;
  padding: 20px;
  margin: 5px;
  width: 29%;
  height: 150px;
  background-size: cover;
}

.col1 {
  background: url(../styles/media/pic-reflect.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.col2 {
  background: url(../styles/media/pic-time.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.col3 {
  background: url(../styles/media/pic-dom.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.col4 {
  background: url(../styles/media/pic-dom2.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.homepagebottom {
  text-align: center;
  width: 100%;
  height: 500px;
}

.homepageimage {
  text-align: center;
  width: 80%;
  height: 80%
}

.dom-analogy {
  display: flex;
  font-family: "CenturyGothic", sans-serif;
  font-size: 12px;
}

.dom-analogy-image {
  width: 20%;
  max-width: 180px;
}

.dom-analogy-text {
  width: 80%;
}

footer {
  clear: both;
  text-align: left;
  margin-top: 40px;
  font-family: arial, sans-serif;
  font-size: 12px;
}
